* {
    font-family: 'Lato', sans-serif;
}

._14px-font { font-size: calc(100vw * 14 / 1920); }
._15px-font { font-size: calc(100vw * 15 / 1920); }
._16px-font { font-size: calc(100vw * 16 / 1920); }
._20px-font { font-size: calc(100vw * 20 / 1920); }
._30px-font { font-size: calc(100vw * 30 / 1920); }
._34px-font { font-size: calc(100vw * 34 / 1920); }
._54px-font { font-size: calc(100vw * 54 / 1920); }


._24px-line { line-height: calc(100vw * 24 / 1920); }
._25px-line { line-height: calc(100vw * 25 / 1920); }
._29px-line { line-height: calc(100vw * 29 / 1920); }
._1d2-line { line-height: 1.2; }


._0d16em { letter-spacing: 0.16em; }
._0d06em { letter-spacing: 0.06em; }


.w400 { font-weight: 400; }
.w700 { font-weight: 700; }
.w800 { font-weight: 800; }


._3c3c3c { color: #3c3c3c; }
.white { color: white; }


.upper { text-transform: uppercase; }
.center { text-align: center; }
