fieldset {
    width: 50%;

    text-align: center;

    border-width: 2px;
    border-style: solid;
}

fieldset legend {
    padding-left: calc(100vw * 85 / 1366);
    padding-right: calc(100vw * 85 / 1366);
}

.fieldset__container-not-for-jobs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    text-align: center;
}
